/* VARIABLES */

:root {
    --bg-primary-color: rgb(202, 221, 185);
    --bg-sencodary-color: rgb(53, 34, 70);
    --bg-tertiary-color: rgb(1, 22, 1);


    --bg-navbar-color: rgb(83, 74, 88);
    --bg-card-color: rgb(53, 34, 70);

    --navlink-active-color: rgb(115, 128, 111);

    --text-primary-color: white;
    --text-card-summary-color: rgb(174, 133, 184);
    --icon-link-color: rgb(202, 221, 185);

    --text-info-color: rgb(161, 158, 158);
}

/* DEFAULT STYLE */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--bg-primary-color);
}

.container {
    min-height: 100vh;
}

a {
    color: black;
}

a:link {
    text-decoration: none;
}

ul{
    list-style-type: none;
}

section{
    width: 100%;
}

.recipes-container {
    width: 90%;
    display: flex;
    flex-direction: column; 
    gap: 20px; 
    margin: 0 auto;
    padding: 20px;
}